<h3>Sign In</h3>

<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="" placeholder="Enter Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="" placeholder="Enter Password">

    <button type="submit" class="btn">Login</button>
</form>


<!-- <h3>Register</h3>

<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="" placeholder="Enter Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="" placeholder="Enter Password">

    <button type="submit" class="btn">Register</button>
</form> -->